In [22]:
import pandas as pd
import numpy as np

# Load the Excel file
file_path = 'gold-medal-times.xlsx'

# Load the 'Data' worksheet
data = pd.read_excel(file_path, sheet_name='Data', usecols='B:D')


# Rename columns
data = data.rename(columns={'Unnamed: 1': 'Year','Unnamed: 2': 'Men', 'Unnamed: 3': 'Women'})

# Convert the columns to numeric, ignoring non-numeric values
data['Men'] = pd.to_numeric(data['Men'], errors='coerce')
data['Women'] = pd.to_numeric(data['Women'], errors='coerce')


# Print the first few lines of the 'Data' worksheet
print(data.head(25))

# Calculate nanmax and nanmin of columns
max_value_men = np.nanmax(data['Men'])
min_value_men = np.nanmin(data['Men'])
max_value_women = np.nanmax(data['Women'])
min_value_women = np.nanmin(data['Women'])

print("Slowest Winning Time Men:", max_value_men)
print("Fastest Winning Time Men:", min_value_men)
print("Slowest Winning Time Women:", max_value_women)
print("Fastest Winning Time Women:", min_value_women)

                                                 Year     Men   Women
0                                                 NaN     NaN     NaN
1   Gold medal times in the 1,500m at the Summer O...     NaN     NaN
2   Gold medal winning times in the Men's and Wome...     NaN     NaN
3                                                 NaN     NaN     NaN
4                                         Athens 1896  273.20     NaN
5                                          Paris 1900  246.20     NaN
6                                      St. Louis 1904  245.40     NaN
7                                         London 1908  243.40     NaN
8                                      Stockholm 1912  236.80     NaN
9                                        Antwerp 1920  241.80     NaN
10                                         Paris 1924  233.60     NaN
11                                     Amsterdam 1928  233.20     NaN
12                                   Los Angeles 1932  231.20     NaN
13                                        Berlin 1936  227.80     NaN
14                                        London 1948  229.80     NaN
15                                      Helsinki 1952  225.20     NaN
16                                     Melbourne 1956  221.20     NaN
17                                          Rome 1960  215.60     NaN
18                                         Tokyo 1964  218.10     NaN
19                                   Mexico City 1968  214.90     NaN
20                                        Munich 1972  216.33  241.38
21                                      Montreal 1976  219.17  245.48
22                                        Moscow 1980  218.40  236.60
23                                   Los Angeles 1984  212.53  243.25
24                                         Seoul 1988  215.96  233.96
Slowest Winning Time Men: 273.2
Fastest Winning Time Men: 208.32
Slowest Winning Time Women: 250.74
Fastest Winning Time Women: 233.11

In [29]:
import pandas as pd

# Load the Excel file
file_path = 'medals-per-country.xlsx'

# Load the 'Data' worksheet
data = pd.read_excel(file_path, sheet_name='Data', usecols='B:E')

# Rename columns
data = data.rename(columns={'Unnamed: 1': 'Country','Unnamed: 2': 'Gold', 'Unnamed: 3': 'Silver', 'Unnamed: 4': 'Bronze'})

# Convert the columns to numeric, ignoring non-numeric values
data['Gold'] = pd.to_numeric(data['Gold'], errors='coerce')
data['Silver'] = pd.to_numeric(data['Silver'], errors='coerce')
data['Bronze'] = pd.to_numeric(data['Bronze'], errors='coerce')

# Print the first few lines of the 'Data' worksheet
print(data.head(10))

# Find the country with the most gold, silver, and bronze medals
most_gold_country = data.loc[data['Gold'].idxmax()]['Country']
most_silver_country = data.loc[data['Silver'].idxmax()]['Country']
most_bronze_country = data.loc[data['Bronze'].idxmax()]['Country']

# Get the count of medals for each country
most_gold_count = data['Gold'].max()
most_silver_count = data['Silver'].max()
most_bronze_count = data['Bronze'].max()

print("Country with the most gold medals:", most_gold_country, "with", most_gold_count, "gold medals")
print("Country with the most silver medals:", most_silver_country, "with", most_silver_count, "silver medals")
print("Country with the most bronze medals:", most_bronze_country, "with", most_bronze_count, "bronze medals")

                                             Country  Gold  Silver  Bronze
0                                                NaN   NaN     NaN     NaN
1  Medal count by country in the Men's 1,500m at ...   NaN     NaN     NaN
2  Medal count by country in the Men's 1,500m at ...   NaN     NaN     NaN
3                                                NaN   NaN     NaN     NaN
4                                      Great Britain   5.0     5.0     4.0
5                                              Kenya   4.0     3.0     2.0
6                                      United States   3.0     7.0     4.0
7                                        New Zealand   3.0     1.0     3.0
8                                            Finland   3.0     NaN     1.0
9                                            Algeria   2.0     1.0     NaN
Country with the most gold medals: Great Britain with 5.0 gold medals
Country with the most silver medals: United States with 7.0 silver medals
Country with the most bronze medals: Great Britain with 4.0 bronze medals

In [36]:
import pandas as pd

# Load the Excel file
file_path = 'longitudinal-data.csv'

# Load the 'Data' worksheet
data = pd.read_csv(file_path)

filtered_data = data[data['Event'].str.contains("1,500 metres") & data['Sport'].str.contains("Athletics")]

# Print the first few lines of the 'Data' worksheet
print(filtered_data.head(5))

oldest_performances = data['Year'].min()
most_recent_performances = data['Year'].max()

old_data = filtered_data[filtered_data['Year']==oldest_performances]
new_data = filtered_data[filtered_data['Year']==most_recent_performances]
print(old_data.head(2))
print(new_data.head(2))

      ID                                Name Sex   Age  Height  Weight  \
98    34  Jamale (Djamel-) Aarrass (Ahrass-)   M  30.0   187.0    76.0
190   86             Jos Manuel Abascal Gmez   M  22.0   182.0    67.0
191   86             Jos Manuel Abascal Gmez   M  26.0   182.0    67.0
425  234        Abdalla Abdelgadir El-Sheikh   M  21.0   170.0    58.0
732  420             Olof Viktor "Olle" berg   M  27.0   181.0    78.0

       Team  NOC        Games  Year  Season         City      Sport  \
98   France  FRA  2012 Summer  2012  Summer       London  Athletics
190   Spain  ESP  1980 Summer  1980  Summer       Moskva  Athletics
191   Spain  ESP  1984 Summer  1984  Summer  Los Angeles  Athletics
425   Sudan  SUD  2008 Summer  2008  Summer      Beijing  Athletics
732  Sweden  SWE  1952 Summer  1952  Summer     Helsinki  Athletics

                            Event   Medal
98   Athletics Men's 1,500 metres     NaN
190  Athletics Men's 1,500 metres     NaN
191  Athletics Men's 1,500 metres  Bronze
425  Athletics Men's 1,500 metres     NaN
732  Athletics Men's 1,500 metres     NaN
          ID                        Name Sex   Age  Height  Weight  \
22952  12068        Arthur Charles Blake   M  24.0     NaN     NaN
68791  35094              Angelos Fetsis   M   NaN     NaN     NaN
70082  35698  Edwin Harold "Teddy" Flack   M  22.0     NaN     NaN
75128  38123                  Carl Galle   M  23.0   154.0    45.0
81064  41160        Dimitrios P. Golemis   M  21.0     NaN     NaN

                Team  NOC        Games  Year  Season    City      Sport  \
22952  United States  USA  1896 Summer  1896  Summer  Athina  Athletics
68791         Greece  GRE  1896 Summer  1896  Summer  Athina  Athletics
70082      Australia  AUS  1896 Summer  1896  Summer  Athina  Athletics
75128        Germany  GER  1896 Summer  1896  Summer  Athina  Athletics
81064         Greece  GRE  1896 Summer  1896  Summer  Athina  Athletics

                              Event   Medal
22952  Athletics Men's 1,500 metres  Silver
68791  Athletics Men's 1,500 metres     NaN
70082  Athletics Men's 1,500 metres    Gold
75128  Athletics Men's 1,500 metres     NaN
81064  Athletics Men's 1,500 metres     NaN
        ID                           Name Sex   Age  Height  Weight  \
3042  1696              Malika Al-Akkaoui   F  28.0   160.0    49.0
3811  2197                  Saud Al-Zaabi   M  27.0     NaN     NaN
6267  3515            Paulo Amotun Lokoro   M  24.0   170.0    61.0
7275  4070         Thiago do Rosario Andr   M  20.0   163.0    52.0
7432  4159  Robert Adrian "Robby" Andrews   M  25.0   178.0    66.0

                          Team  NOC        Games  Year  Season  \
3042                   Morocco  MAR  2016 Summer  2016  Summer
3811      United Arab Emirates  UAE  2016 Summer  2016  Summer
6267  Refugee Olympic Athletes  ROT  2016 Summer  2016  Summer
7275                    Brazil  BRA  2016 Summer  2016  Summer
7432             United States  USA  2016 Summer  2016  Summer

                City      Sport                           Event Medal
3042  Rio de Janeiro  Athletics  Athletics Women's 1,500 metres   NaN
3811  Rio de Janeiro  Athletics    Athletics Men's 1,500 metres   NaN
6267  Rio de Janeiro  Athletics    Athletics Men's 1,500 metres   NaN
7275  Rio de Janeiro  Athletics    Athletics Men's 1,500 metres   NaN
7432  Rio de Janeiro  Athletics    Athletics Men's 1,500 metres   NaN